<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
{% if a > b and a > c %}
    <h1>Inside if </h1>
    <h1>a is maximum</h1>
{% elif b > c %}
    <h1>Inside elif </h1>
    <h1>b is maximum</h1>
{% else %}``
    <h1>Inside else </h1>
    <h1>c is maximum</h1>
{% endif %}
    </center>
    
</body>
</html>